@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
  <h2 class="display-4" style="font-weight:500;">HyperDev Case</h2>
    </div>
  
    <div style="padding:20px;">   
        <h1>Hakkında <a href="http://hyperdevtech.com/">HYPERDEV</a>.</h1>

    </div>
 
</div>
